* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-size: medium;
}

body {
    padding: 24px 48px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: fit-content;
    gap: 12px;
}

.book {
    width: 240px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 12px;
}